ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* TODO 1: Set the CSS for all paragraph tags to "color: red" */
/* Element selector */
p{
  color: red;
}

/* TODO 2: Set the CSS for all elements with a class of "note" to "font-size: 20px" */
/* Class selector */
.note{
  font-size: 20px;
}

/* TODO 3: Set the CSS for the element with an id of "id-selector-demo" to "color: green" */
/* ID selector */
#id-selector-demo{
  color: green;
}

/* TODO 4: Set the CSS for the li elements that have the "value" attribute set to "4" to have "color: blue"
Notice, it does not affect the style given by the ID selector. */
/* Attribute value selector */
li[value="4"]{
  color: blue;
}

/* Attribute selector */
li[value]{
  background-color: antiquewhite;
}

/* TODO 5: Set all elements to have "text-align: center" */
/* Universal selector */
*{
  text-align: center;
}


/* © 2023 Soumyo Jyoti Pal */